@import "tailwindcss";

:root {
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --background: 0 0% 100%;
  --foreground: 222 84% 5%;
  --text: 222 84%;
  
}

html,
body,
:root {
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}